.fondoweb{
	background: url('background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fondo2{
	background: url('background2.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div#page{
    margin: 0 auto;
    max-width: 800px;
    text-align:center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3.5px solid #77ccbf;
    margin: 1em 0;
    padding: 0;
}
h1, h3 {
    color: black;
}
div#container {
    margin-top: 50px;
    height: 120px;
    width: 800px;
    background-color: #234256;
    border-radius: 0px;
}
.containers {
    margin-top: 50px;
    height: 420px;
    width: 820px;
    background-image: url('../img/modal-gui.png');
	border: 2px solid #5C8FE4;
}
div#container2 {
    margin-top: 50px;
    height: 500px;
    width: 800px;
    background-color: #494F4F;
    border-radius: 0px;
    opacity: 0.8;
    text-align: left;
}
div#version{
    float: right;
}
div#select {
    display: inline-block;
    height: auto;
    width: 800px;
    padding: 5px;
}
.playmenu{

	width: 100%;
	height: 120px;
	background-color: #1F2224;
	opacity: 0.8;

}