.line{
	background-color: #69CEDB;
	height: 5px;
	width: 1000px;
	border-radius: 5px;
}
.fondoweb{
	background: url(background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fondo2{
	background: url(background2.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}